<div class="table-responsive" id="open_positions_widget">
	<div [ngClass]="{'loading': loading, 'd-none': !loading}">
		<h3>Loading...</h3>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Order ID</th>
				<th>Date</th>
				<th>Pair</th>
				<th>Leverage</th>
				<th>Margin</th>
				<th>Size</th>
				<th>Side</th>
				<th>Entry</th>
				<th>Exit</th>
				<th>Liquidation</th>
				<th>Stop</th>
				<th>Profit</th>
				<th>Cancel</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="!openPositions || openPositions.length<1" class="no-records-tr">
				<td colspan="13">
					<h3>No open positions loaded yet.</h3>
				</td>
			</tr>
			<tr *ngFor="let order of openPositions; let position_i = index">
				<td>{{order.id}}</td>
				<td>{{order.dateTime | date:'MM/dd/yyyy HH:mm:ss'}}</td>
				<td>{{order.pair}}</td>
				<td><b>{{order.leverage}}</b> X</td>
				<td>{{order.margin}}</td>
				<td>{{order.size}}</td>
				<td>{{order.side}}</td>
				<td>{{order.entry_price}}</td>
				<td>
					<div class="input-group small-input">
						<input class="form-control" type="number" [(ngModel)]="order.exit_price"/>
						<div class="input-group-append">
							<button class="btn btn-info" type="button" (click)="saveExitPrice(order)">
								<span class="fa fa-save"></span>
							</button>
						</div>
					</div>
				</td>
				<td>{{order.liquidation_price}}</td>
				<td>
					<div class="input-group small-input">
						<input class="form-control" type="number" [(ngModel)]="order.stop_price"/>
						<div class="input-group-append">
							<button class="btn btn-info" type="button" (click)="saveStopPrice(order)">
								<span class="fa fa-save"></span>
							</button>
						</div>
					</div>
				</td>
				<td  [ngClass]="{'red':isRed(order), 'green':!isRed(order)}">{{getProfit(order) | number:'1.1-9'}}</td>
				<td class="cell_cancel">
					<button class="btn btn-danger btn-block btn-sm" type="button" title="Close order at market price"
						(click)="closeAMP(order)">
						CLOSE
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="paging">
		<div>
			<i class="fa fa-chevron-left" (click)="goBack()"></i>
		</div>
		<div style="text-align: right;">
			<i class="fa fa-chevron-right" (click)="goForth()"></i>
		</div>
	</div>
</div>