<div class="footer-dark">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col col-12 col-md-3" id="logo_container_a">
					<div><i class="fa fa-bitcoin" id="footer_icon_1"></i></div>
					<div><a href="MAILTO:support@thiscoin.com" id="email_support_to">support@thiscoin.com</a></div>
				</div>
				<div class="col-sm-6 col-md-3 item">
					<h3>This Coin</h3>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Caeers</a></li>
						<li><a href="#">Law Enforcement Guidance</a></li>
						<li><a href="#">Customer Tax Responsabilities</a></li>
						<li><a href="#">Compliance Disclosure</a></li>
						<li><a href="#">Privacy Policy &amp; Statements</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 item">
					<h3>Help</h3>
					<ul>
						<li><a href="#">Support</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Feedback</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<div class="col item">
					<h3>Product</h3>
					<ul>
						<li><a href="#">Fee</a></li>
						<li><a href="#">API</a></li>
						<li><a href="#">Security</a></li>
						<li><a href="#">Bug Bounty</a></li>
					</ul>
				</div>
				<div class="col col-12 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a
						href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
							class="icon ion-social-snapchat"></i></a><a href="#"><i
							class="icon ion-social-instagram"></i></a></div>
			</div>
			<p class="copyright">ThisCoin © 2019</p>
		</div>
	</footer>
</div>