<div class="row" id="MAIN_TRADE_ROW" style="max-width:100%;">
	<div class="col">
		<div class="row">
			<div class="col col-12 col-sm-6 col-lg-3" id="BUY_SELL_COLUMN">
				<app-buy-sell></app-buy-sell>
			</div>
			<div class="col col-12 col-sm-6 col-sm-6 col-md-6 col-lg-5" id="CHARC_COLUMN">
				<app-chart></app-chart>
			</div>
			<div class="col col-12 col-sm-12 col-md-12 col-lg-4">
				<app-orderbook></app-orderbook>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<app-op-oo-ohistory></app-op-oo-ohistory>
			</div>
		</div>
	</div>
</div>
