<div class="row">
	<div class="col col-6" id="ORDERBOOK_WIDGET">
		<div>
			<h5>Orderbook</h5>
		</div>
		<div>
			<h5>Bids</h5>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Prize</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody *ngIf="orderData"  [innerHtml]="bidsOrderDataHTML">
				</tbody>
			</table>
		</div>
		<div>
			<h5>Asks</h5>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Prize</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody *ngIf="orderData" [innerHtml]="asksOrderDataHTML">
				</tbody>
			</table>
		</div>
		<!---->
	</div>
	<div class="col col-6 col-lg-6" id="recent_trades_widget_container">
		<app-recent-trades></app-recent-trades>
	</div>
</div>