.green_cell {
	background-color: rgb(181, 222, 192);

}

.red_cell {
	background-color: rgb(237, 185, 171);
}

.green_cell_2 {
	background-color: rgb(187, 218, 191);
}


.tableBody {
	font-size: .8em;
}